<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRimoti.bg</title>
    <script type="module" src="app.js"></script>
    <script type="module" src="./build/marzipano.js"></script>
    <script type="module" src="formalVrTemplateLogic.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navBar">
        <img src="LogoNavBar.png" alt="logo" class="Logo">
        <div class="navOptions">
            {{#if user}}
                <h4 class="username-nav-bar">{{user.username}}</h4>
                <a href="/" class="navhome">Начало</a>
                <a href="/profile" class="navProfile">Профил</a>
                <a href="/logout" class="navLogOut">Излез</a>
            {{else}}
                <a href="/" class="navhome">Начало</a>
                <a href="/register" class="navreg">Регистрация</a>
                <a href="/login" class="navlog">Влез</a>
                <a href="/about" class="navabout">Нашата мисия</a>
            {{/if}}
        </div>
    </div>

    <div id="root">
        <div class="FormConteiner">
            <p class="frommessage">Работим само с частни лица!</p>
            {{> formsurch}}
        </div>

        <div class="wall"></div>

        <div class="addHolder">
            <img src="/addpics/burger.jpg" alt="">
            <img src="/addpics/beer.png" alt="">
            <img src="/addpics/robin.jpg" alt="">
        </div>

    </div>

</body>


</html>