<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="app.js"></script>

</head>
<body>
    <div class="navBar">
        <img src="LogoNavBar.png" alt="logo" class="Logo">
        <div class="navOptions">
            <a href="/" class="navhome"></a>
            <a href="/register" class="navreg">Регистрация</a>
            <a href="/login" class="navlog">Влез</a>
            <a href="/about" class="navabout">Нашата мисия</a>
        </div>
    </div>

    <div id="root">
        <div class="FormConteiner">
            <p class="frommessage">Работим само с частни лица!</p>
            {{> formsurch}}
        </div>

        <div class="wall">
            {{{body}}}
        </div>

    </div>

</body>

</html>