body {
    margin: 0;
    background-color: #F0F2F5;
    align-items: center;
}

/* NAV BAR STYLES */
.navBar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(112, 112, 112); 
}

.navOptions {
    display: flex;
    /* background-color: rgb(218, 218, 218); */

}

img {
    padding: 15px 0 15px 25px;
    width: 6%;
    height: auto;
}

.navreg, .navlog, .navabout, .navhome, .navProfile, .navLogOut {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

/* BODY STYLES */

#root {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.FormConteiner {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e7e9ec;
    width: 300px;
    height: 800px;
    border-radius: 5px;
    margin-right: 20px;
}

.FormConteiner > .frommessage {
    margin-top: 20px;
}

.FormConteiner > form {
    margin-top: 30px;
}

.FormConteiner > form > select, input[type="checkbox"] {
    margin-bottom: 20px;
}


.wall {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 900px;
    border-radius: 10px;
    padding-top: 30px;
}

.loginForm, .registerForm {
    background-color: white;
    border-radius: 2px;
    padding: 80px 60px 60px 60px;
    box-shadow: 0px 1px 5px rgb(211, 211, 211); /*x y blur color*/
}

.loginForm > input, .settingsInformation > input {
    border-radius: 2px;
    border: 2px solid rgb(236, 236, 236);
    height: 50px;
    width: 400px;
    margin-bottom: 20px
}

.errorHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(182, 89, 89);
    border-radius: 10px;
    width: 250px;
}

p {
    margin: 0px, 0px, 0px, 0px;
    color: rgb(2, 2, 2);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.registerButton {
    background-color: #68a16a;
    color: white;
    font-size: 16px;
}

.registerForm > input {
    border-radius: 2px;
    border: 2px solid rgb(236, 236, 236);
    height: 50px;
    width: 400px;
    margin-bottom: 20px
}

.spanErrorRegister, .settingsErrosHead, .LogInErrHead {
    display: none;
}

.profileBody {
    padding-top:50px;
}

.settingsHolder {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 2px;
    padding: 80px 60px 80px 60px;
    box-shadow: 0px 1px 5px rgb(211, 211, 211); /*x y blur color*/
}

.profileSettings, .profileVrTours {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-bottom: 30px;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 2px;
}

.profileSettings {
    background-color: #48b664;
}

.creatVr {
    margin-bottom: 20px;
    width: 350px;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 2px;
    border: none;
    color: rgb(102, 102, 102);
    font-size: 17px;
    box-shadow: 0px 1px 5px rgb(175, 175, 175); /*x y blur color*/
}
.profileVrTours{
    background-color: #cacaca;
}

.VrToursHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vrForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
}

.vrForm {
    width:  800px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 1px 5px rgb(207, 207, 207); /*x y blur color*/
    border-radius: 10px;
}

.vrCreatForm {
    display: flex;
    width: 700px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid black; */
}

.vrCreatForm > input, .vrCreatForm > select, .vrCreatForm > textarea {
    border-radius: 2px;
    border: 2px solid rgb(236, 236, 236);
    height: 50px;
    width: 400px;
    margin-bottom: 20px
}

.vrCreatForm > label {
    font-family: Arial, Helvetica, sans-serif;
    color: #868686;
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.RadioBtnHolderVrForm > input[type="radio"] {
    width: 20px;
    height: 20px;
}

.RadioBtnHolderVrForm > label {
    font-size: 20px;
}

.userVrToursList {
    margin-top: 30px;
}

.userVrToursList > li {
    list-style-type: none;
    margin-right: 35px;
}

.btnCloseVrForm {
    margin-left: 95%;
    margin-top: 10px;
}

.btnAddImageInput{
    padding: 2px 10px 2px 10px;
}

.btnDeleteImageInput {
    padding: 2px 15px 2px 15px;
}

.btnAddImageInput, .btnDeleteImageInput {
    margin: 5px;
    font-size: 40px;
    color: white;
    background-color: #cfcfcf;
    border-radius: 2px;
    border: 2px solid #acacac;
}


.formInputImageHolder{
    display: inline-block;
}

.formInputImageHolder > input {
    font-size: 15px;
    padding: 120px 20px 120px 20px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid rgb(248, 217, 190);
    margin: 5px;
    /* box-shadow: 0px 1px 5px rgb(161, 161, 161); */
}

.imgs-googleLocationDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.imgs-googleLocationDescription > img {
    width: 600px;
    height: 500px;
}







/* formalForm styles */

.formalVrFormHolder{
    display: inline-flex;
    flex-direction: column;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(134, 134, 134);
    padding-bottom: 5px;
}

.buttonViews-VrFormalForm, #pano, .buttonInformation {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.buttonViews-VrFormalForm, .buttonInformation, #pano{
    position: relative;
}

.title-VrFormalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 100px;
    /* background-color: antiquewhite; */
}

.price-curency-title-vrFormalForm, .typeProp-typeVr-title-vrFormalForm {
    margin: 5px 0px 5px 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.typeProp-typeVr-title-vrFormalForm {
    font-weight: lighter;
}

#pano{
    width: 800px;
    height: 400px;
}

.buttonViews-VrFormalForm > button, .buttonInformation > button {
    padding: 7px 10px 7px 10px;
    width: auto;
    height: auto;
    background: none;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 12px;
}

.manuHolder-VrFormalForm {
    display: flex;
    justify-content: end;
    border-bottom: 2px solid rgb(231, 231, 231);
    /* background-color: rgb(218, 218, 218);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; */
}

.btnManu-VrFormalForm {
    width: auto;
    height: auto;
    padding: 0px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
    margin-right: 5px;
}

span {
    font-weight: bold;
}

.buyerInformation-VrFormalForm > ol > p, .sellarInformation-VrFormalForm > ol > p {
    font-size: 17px;
}
.buyerInformation-VrFormalForm, .sellarInformation-VrFormalForm {
    font-family: Arial, Helvetica, sans-serif;
}
.buyerInformation-VrFormalForm > h2, .sellarInformation-VrFormalForm > h2 {
    text-align: center;
}

.description-VrFormalForm,
.GoogleAdress-VrFormalForm,
.buyerInformation-VrFormalForm,
.sellarInformation-VrFormalForm {
    display: none;
}

.block-description-VrFormalForm {
    width: 800px;
    display: flex;
    position: relative;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.text-holder-description-VrFormalForm, .title-description-VrFormalForm {
    width: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text-holder-description-VrFormalForm {
    inline-size: 400px;
    overflow-wrap: break-word;
}
.moreinfo-description-VrFormalForm {
    inline-size: 600px;
    overflow-wrap: break-word;
}

.moreinfo-description-VrFormalForm {
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid rgb(231, 231, 231);
    border-bottom: 2px solid rgb(231, 231, 231);
}

